body, html
  padding: 20px



// Leave these lines to automatically import all 
// stylesheets defined inside pods and components
// @import "../../pods/**/*.styl"
// @import "../../components/**/*.styl"